/*
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #000000;
    color: #15dfdf;
}

.barra-lateral {
    background-color: #141414;
    height: 100vh;
    width: 10%;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
    top: 0;
    left: 0;
}

.conteudo-pagina {
    margin-left: 10%;
}
*/