/*
  Tabela de Conteúdos:
  - Imports
  - Variáveis
  - Corpo da Página
  - Barra Lateral
  - Elementos Especiais
  - Página de Entregas
*/

/* --> Imports */
@font-face {
    font-family: PoppinsBold;
    src: url("./fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: PoppinsRegular;
    src: url("./fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: Inter;
    src: url("./fonts/Inter-Regular.ttf");
}

/* --> Variáveis */
:root {
    /* Cores */
    --c-body-fundo: #4C4B4E;
    --c-sidebar-fundo: #FCFBFB;
    --c-botao-fundo: #FDFDFD;
    --c-box-borda: #1C1C1C;
    --c-ponto-paradas: #FDF508;

    /* Fontes */
    --f-cor-titulo: #173C85;
    --f-cor-texto: #4C4B4E;

    /* Medidas */
    --t-sidebar: 120px;
}

/* --> Corpo da Página */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--c-body-fundo);
    font-family: PoppinsBold;
    color: var(--f-cor-titulo);
}

#content {
    margin-left: var(--t-sidebar);
}

/* --> Barra Lateral */
.sidebar {
    background-color: var(--c-sidebar-fundo);
    height: 100%;
    width: var(--t-sidebar);
    overflow-y: hidden;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    left: 0;
    top: 0;
    z-index: 1;
}

.sidebar a {
    margin: 25px;
    padding: 10px;
    border: 3px solid var(--f-cor-titulo);
    border-radius: 15px;
    display: block;
    max-height: 40px;
}

.sidebar a:hover {
    filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(0%) hue-rotate(307deg) brightness(102%) contrast(102%);
    cursor: pointer;
}

/* --> Cards */
.card {
    background-color: var(--c-sidebar-fundo);
    border-radius: 40px;
    padding: 20px;
    text-align: center;
}

.card p {
    font-family: Inter;
    font-size: 16px;
    color: var(--f-cor-texto);
    padding: 5px;
}

/* --> Elementos Especiais */
.button {
    height: 38px;
    width: 100%;
    border: 1px solid var(--f-cor-titulo);
    border-radius: 50px;
    box-shadow: 0px 2px 8px #00000063;
    font-family: PoppinsRegular;
    font-size: 24px;
    color: var(--f-cor-titulo);
    margin-top: 15px;
}

.button:hover {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #0000004d; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px #00000042; 
}

.modebar{
    display: none !important;
}

/* --> Página de Entregas */
#entregas--mapa {
    position: absolute;
    height: 100%;
    width: calc(100% - var(--t-sidebar));
    overflow: hidden;
    z-index: -1;
}

#entregas--dropdown {
    font-size: 10px;
    color: var(--f-cor-texto);
}

.entregas--pesquisa .Select-control {
    border-radius: 10px;
}

#entregas--checklist {
    padding-top: 10px;
    font-size: 12px;
}

#entregas--checklist input {
    margin-right: 5px;
}

.card.entregas--pesquisa {
    position: absolute;
    width: calc(35% - var(--t-sidebar));
    left: calc(2% + var(--t-sidebar));
    top: 2%;
}

#entregas--informacoes {
    line-height: 15px;
    margin-bottom: 20px;
}

#entregas--informacoes p {
    font-family: PoppinsBold;
    font-size: 14px;
    text-align: center;
    color: var(--f-cor-texto);
}

.card.entregas--informacoes {
    position: absolute;
    width: calc(35% - var(--t-sidebar));
    right: 2%;
    top: 2%;
}

#entregas--tabela {
    border-collapse: collapse;
    text-align: left;
    font-size: 14px;
    color: var(--f-cor-texto);
}

#entregas--tabela tbody {
    display: block;
    max-height: 240px;
    overflow: auto;
}

#entregas--tabela td {
    padding: 15px;
}

#entregas--tabela .left {
    border-right: 1px solid var(--f-cor-texto);
}

#entregas--legenda {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: calc(2% + var(--t-sidebar));
    bottom: 2%;
    font-size: 16px ;
    color: var(--c-botao-fundo);
}

#entregas--legenda label {
    display: flex;
    align-items: center;
}

.circle {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.circle.entregas--partida {
    background-color: #E8E7E7;
}

.circle.entregas--paradas {
    background-color: var(--c-ponto-paradas);
}

.line {
    height: 3px;
    width: 16px;
    border: none;
    margin-right: 5px;
}

.line.entregas--recomendada {
    background-color: red;
}

.line.entregas--alternativas {
    background-color: var(--f-cor-titulo);
}
