/* >>> Importando arquivos de fonte. */
@font-face {
    font-family: PoppinsBold;
    src: url("./fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: PoppinsRegular;
    src: url("./fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: Inter;
    src: url("./fonts/Inter-Regular.ttf");
}

/* >>> Definindo variáveis de cores e tamanhos */
:root {
    /* --cor-AzulEscuro: #173C85; 
    #D4DADC #e3e3e3
    */
    --cor-Preto: #1C1C1C;
    --cor-Branco: #ffffff;
    --cor-BrancoClaro: #ececec;
    --cor-BrancoCinzento: #CACACA;
    --cor-AzulMapa: #D4DADC;
    --cor-CinzaClaro: #4C4B4E;
    --cor-AzulClaro: #2754ac;
    --cor-AzulEscuro: #1f448e;
    --cor-AzulBebe: #e0eefc;
    --cor-Amarelo: #fda308;
    --sombra-cards: 0px 2px 15px #00000036;
    --tamanho-BarraLateral: 120px;
}

/* >>> Estilos gerais do corpo da página */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-AzulMapa);
    font-family: PoppinsBold;
    color: var(--cor-AzulEscuro);
    overflow-x: hidden;
}

#content {
    margin-left: var(--tamanho-BarraLateral);
}

/* >>> Estilos gerais dos elementos da página */
.click:hover {
    background-color: var(--cor-AzulClaro);
    text-decoration: none;
    cursor: pointer;
}

.click-ativo {
    box-sizing: border-box;
    min-height: 60px;
    min-width: 60px;
    border: 3px solid var(--cor-AzulEscuro);
    background-color: #bddaf8;
}

.click-ativo:hover {
    transform: none;
    cursor: auto;
}

.modebar {
    display: none !important;
}

/* >>> Scrollbar customizada */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #0000004d;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px #00000042;
}

/* >>> Barra lateral e ícones */
#sidebar {
    box-shadow: var(--sombra-cards);
    background-color: var(--cor-Branco);
    width: var(--tamanho-BarraLateral);
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    left: 0;
    top: 0;
    overflow-y: hidden;
    z-index: 1;
}

#sidebar a {
    border-radius: 15px;
    display: block;
    margin: 15px;
    padding: 10px;
    max-height: 35px;
    transition: 0.2s;
}

#sidebar a.click:hover {
    background-color: var(--cor-AzulBebe);
    transform: scale(1.2, 1.2);
}

/* >>> Grades (linhas e colunas) */
.row {
    display: inline-block;
    width: 100%;
    text-align: left;
}

.row.search-B {
    max-height: 36px;
}

.row.form-field {
    margin-top: 5px;
    text-align: right;
}

.row.form-buttons {
    text-align: center;
}

/* >>> Base dos cartões de conteúdo das páginas */
.card {
    box-shadow: var(--sombra-cards);
    background-color: var(--cor-Branco);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}

.card p {
    font-family: Inter;
    font-size: 16px;
    color: var(--cor-CinzaClaro);
    padding: 5px;
}

/* >>> Cartões de conteúdo com informações do banco de dados. */
.card.infos-A {
    position: absolute;
    width: calc(35% - var(--tamanho-BarraLateral));
    top: 2%;
    right: 2%;
    animation: showoff--infos-A 1s;
}

.card.infos-A .infos-list {
    margin-top: 5px;
    margin-bottom: 20px;
    line-height: 15px;
}

.card.infos-A .infos-list p {
    font-family: PoppinsBold;
    font-size: 14px;
    text-align: center;
    color: var(--cor-CinzaClaro);
}

.card.infos-A .infos-list a {
    text-decoration: none;
    color: var(--cor-Preto);
    border-bottom: 2px solid var(--cor-Preto);
}

.card.infos-A .buttons-layout {
    position: absolute;
    top: 25px;
    right: 25px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.card.infos-A table {
    border-collapse: collapse;
    text-align: left;
    font-size: 14px;
    color: var(--cor-CinzaClaro);
}

.card.infos-A table tbody {
    display: block;
    max-height: 180px;
    overflow: auto;
}

.card.infos-A table td {
    padding: 15px;
}

.card.infos-A table .left {
    border-right: 1px solid var(--cor-CinzaClaro);
}

.card.infos-B {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    height: 47%;
    width: calc(58% - var(--tamanho-BarraLateral));
    right: 2%;
    top: 2%;
}

.card.infos-B.i-B1 {
    animation: showoff--infos-B1 1s;   
}

.card.infos-B.i-B2 {
    animation: showoff--infos-B2 1s;   
}

.card.infos-B .image {
    border-radius: 10px;
    position: relative;
    left: 15px;
    max-height: 95%;
}

.card.infos-B .no-img {
    border-radius: 10px;
    min-width: 260px;
    max-height: 95%;
    position: relative;
    left: 15px;
}

.card.infos-B .no-img img {
    box-shadow: none;
    left: 0;
}

.card.infos-B .content {
    background-color: var(--cor-AzulEscuro);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    width: 47.5%;
    height: 325px;
    text-align: left;
    left: 35px;
    padding: 15px;
}

.card.infos-B .infos-list p {
    font-family: PoppinsRegular;
    font-size: 14.5px;
    color: var(--cor-Branco);
}

.card.infos-B .status p,
.card.infos-B .status a {
    font-family: PoppinsBold;
    font-size: 16px;
    margin-top: 8px;
    color: var(--cor-Branco);
}

.card.infos-B .status a {
    text-decoration: none;
    border-bottom: 2px solid var(--cor-AzulEscuro);
}

.card.infos-B .buttons-layout {
    position: absolute;
    height: 325px;
    right: 25px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

/* >>> Cartões de conteúdo de pesquisa no banco de dados */
.card.search-A {
    position: absolute;
    width: calc(35% - var(--tamanho-BarraLateral));
    left: calc(2% + var(--tamanho-BarraLateral));
    top: 2%;
    animation: showoff--search-A 1s;
}

.card.search-B {
    position: absolute;
    height: 90%;
    width: calc(39% - var(--tamanho-BarraLateral));
    left: calc(2% + var(--tamanho-BarraLateral));
    top: 2%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card.search-B.s-B1 {
    animation: showoff--search-B1 1s;
}

.card.search-B.s-B2 {
    animation: showoff--search-B2 1s;
}

/* >>> Lista de cartões de conteúdo para itens do banco de dados */
.card-list {
    margin-top: 10px;
    max-height: calc(80% - 10px);
    overflow: auto;
}

.card-list-item {
    background-color: var(--cor-AzulEscuro);
    border-radius: 20px;
    display: flex;
    width: calc(100% -2px);
    margin-bottom: 10px;
    max-height: 100px;
}

.card-list-item p {
    font-family: PoppinsBold;
    font-size: 15px;
    text-align: left;
    line-height: 12px;
    margin-left: 12px;
    color: var(--cor-Branco);
}

.card-list-item img {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    margin-right: 10px;
}

.card-list-item div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-list-item .no-img img {
    margin-right: 0;
}

.no-img {
    /* Modelo para quando não há imagem disponível */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-BrancoCinzento);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    margin-right: 10px;
    height: 100px;
    width: 100px;
    min-width: 100px;
}

.no-img.infos-B {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 325px;
    width: 260px;
    margin-right: 0;
}

/* >>> Mini cartões de conteúdo com números do banco de dados */
.layout-database-info {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: calc(40% - var(--tamanho-BarraLateral));
    height: 30%;
    right: 2%;
}

.layout-stats-A {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: calc(58% - var(--tamanho-BarraLateral));
    height: 40%;
    top: 57.5%;
    right: 2%;
}

.layout-stats-A.st-A1 {
    animation: showoff--stats-A1 1s;
}

.layout-stats-A.st-A2 {
    animation: showoff--stats-A2 1s;
}

.card.stats-A {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 60px;
    margin-right: 30px;
    padding: 30px 40px 30px 40px;
    transition: 0.2s;
}

.card.stats-A:hover {
    transform: scale(1.08);
}

.card.stats-A img {
    display: block;
    margin-bottom: -10px;
}

.stats-content {
    background-color: var(--cor-BrancoClaro);
}

.card.stats-A h1 {
    font-size: 60px;
}

.card.stats-A h2 {
    font-size: 18px;
}

/* Modal de cadastro do banco de dados */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.modal-body {
    position: relative;
    width: 27.5%;
    z-index: 3;
}

.modal-body h3 {
    color: var(--cor-Preto);
}

.modal-form {
    font-family: PoppinsRegular;
}

.modal-form label { 
    font-size: 14px;
    color: var(--cor-CinzaClaro);
    max-height: 14px;
}

.modal-form .input {
    height: 19.2px;
    margin-left: 15px;
    width: 55%;
}

.modal-form label > input {
    font-family: PoppinsRegular;
    color: var(--cor-Preto);
    padding: 3.5px;
}

.modal-form .span-dropdown {
    position: absolute;
    display: flex;
    margin-top: 7px;
    right: calc(57.4% + 12px);
}

.modal-form .dropdown {
    display: inline-block;
    max-height: 28.2px;
    width: 57.4%;
}

.modal-form .dropdown .Select-control {
    text-align: left;
    height: 28.2px;
}

.modal-form .row:first-child {
    margin-top: 15px;
}

.modal-form .row:last-child {
    margin-bottom: 15px;
}

.modal-backdrop {
    background-color: #0000006d;
    position: absolute;
    border: none;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    align-items: center;
    justify-content: center;
}

/* >>> Estilo dos botões das páginas */
.button {
    background-color: var(--cor-AzulEscuro);
    border-radius: 40px;
    border: none;
    box-shadow: 0px 2px 8px #00000036;
    font-family: PoppinsBold;
    color: var(--cor-Branco);
}

.button:hover {
    background-color: #2450a9;
    cursor: pointer;
}

.button.infos-A {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    margin-top: 15px;
}

.button-infos-A {
    box-shadow: 0px 2px 4px #00000063;
    background-color: var(--cor-AzulEscuro);
    border-radius: 10px;
    border: none;
    padding: 8px;
    margin-bottom: 10px;
    transition: 0.2s;
}

.button-infos-A:hover {
    transform: scale(1.2);
}

.button-infos-A img {
    display: block;
}

.button-infos-B {
    box-shadow: 0px 2px 4px #00000063;
    background-color: var(--cor-AzulEscuro);
    border-radius: 15px;
    border: none;
    padding: 8px;
    margin-bottom: 25px;
    transition: 0.2s;
}

.button-infos-B.last {
    margin-bottom: 0px;
}

.button-infos-B:hover {
    transform: scale(1.2);
}

.button-infos-B img {
    display: block;
}

.button-search {
    box-shadow: 0px 2px 3px #00000063;
    background-color: var(--cor-BrancoClaro);
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 36px;
    height: 36px;
}

.button-search:hover {
    background-color: var(--cor-AzulBebe);
}

.button-search img {
    display: block;
}

.button.form-button {
    height: 42px;
    width: 30%;
    margin: 8px;
}

/* >>> Estilo dos datepickers (plotly) */
.datepicker {
    width: 57.4%;
    margin-left: 15px;
}

.datepicker .DateInput, .DateInput_1 {
    border-radius: 4px !important;
    max-height: 28.2px;
    width: 100%;
}

.datepicker .DateInput_input, .DateInput_input_1 {
    background-color: var(--cor-BrancoClaro);
    border-radius: inherit;
    font-family: PoppinsRegular;
    height: 28.2px;
}

.datepicker .SingleDatePickerInput__withBorder {
    border-radius: 4px;
    border: 1px solid #ccc !important;
    font-size: 14px;
}

/* >>> Estilos dos dropdowns (plotly) */
.dropdown {
    color: var(--cor-CinzaClaro);
}

.dropdown .Select-control {
    background-color: var(--cor-BrancoClaro);
}

.dropdown.search-A {
    width: calc(100% - 41px);
    margin-right: 5px;
    float: left;
    font-size: 10px;
    line-height: 13px;
}

.dropdown.search-B {
    font-size: 14px;
    width: 20%;
    float: left;
}

/* >>> Estilo dos inputs (plotly) */
.input {
    background-color: var(--cor-BrancoClaro);
    border: 1px solid #ccc;
    border-radius: 4px;
    color: var(--cor-CinzaClaro);
    overflow: hidden;
}

input {
    font-family: PoppinsBold;
    font-weight: normal;
    font-size: 14px;
    padding: 7px;
}

.input.search-B {
    width: calc(80% - 46px);
    margin-right: 5px;
    margin-left: 5px;
    height: 36px;
    position: relative;
    top: -11.5px;
}

/* >>> Estilos da textarea (plotly) */
.textarea {
    background-color: var(--cor-BrancoClaro);
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: PoppinsRegular;
    font-size: 12px;
    line-height: 15px;
    padding: 7px;
    margin-bottom: -6px;
    box-sizing: border-box;
    min-height: 180px;
    max-height: 180px;
    min-width: 57.4%;
    max-width: 57.4%;
    outline: none !important;
    overflow: auto;
}

.span-textarea {
    position: absolute;
    right: calc(55% + 22px);
    line-height: 28.2px;
}

/* >>> Estilo dos checklists (plotly) */
.checklist.search-A {
    padding-top: 10px;
    font-size: 12px;
}

.checklist input {
    margin-right: 5px;
}

/* >>> Mapa de de rotas de entrega (plotly) */
#pg1--mapa {
    position: absolute;
    height: 100%;
    width: calc(100% - var(--tamanho-BarraLateral));
    overflow: hidden;
    z-index: -2;
}

#pg1--mapa canvas {
    outline: 0 !important;
}

#pg1--mapa-fadeout {
    background-color: var(--cor-AzulMapa);
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
    animation: fadeout--map 1s linear;
}

#pg1--mapa-legenda {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: calc(2% + var(--tamanho-BarraLateral));
    bottom: 2%;
    font-size: 16px;
    color: var(--cor-AzulEscuro);
}

#pg1--mapa-legenda label {
    display: flex;
    align-items: center;
}

#pg1--mapa-legenda .circulo {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

#pg1--mapa-legenda .ponto--partida {
    background-color: var(--cor-Preto);
}

#pg1--mapa-legenda .ponto--parada {
    background-color: #f0e43a;
}

#pg1--mapa-legenda .linha {
    height: 3px;
    width: 16px;
    border: none;
    margin-right: 5px;
}

#pg1--mapa-legenda .rota--recomendada {
    background-color: #df2929;
}

#pg1--mapa-legenda .rota--alternativas {
    background-color: var(--cor-AzulEscuro);
}

/* >>> Animações gerais das páginas do dashboard */
@keyframes showoff--infos-A {
    from {right: calc(-35% - 2% - var(--tamanho-BarraLateral));}
    to   {right: 2%;}
}

@keyframes showoff--infos-B1 {
    from {right: calc(-58% - 2% - var(--tamanho-BarraLateral));}
    to   {right: 2%;}
}

@keyframes showoff--infos-B2 {
    from {top: -100%;}
    to   {top: 2%;}
}

@keyframes showoff--search-A {
    from {top: -30%;}
    to   {top: 2%;}
}

@keyframes showoff--search-B1 {
    from {top: -100%;}
    to   {top: 2%;}
}

@keyframes showoff--search-B2 {
    from {top: 100%;}
    to   {top: 2%;}
}

@keyframes showoff--stats-A1 {
    from {top: 100%;}
    to   {top: 57.5%;}
}

@keyframes showoff--stats-A2 {
    from {right: calc(-58% - 2% - var(--tamanho-BarraLateral))}
    to   {right: 2%;}
}

@keyframes fadeout--map {
    0%   {opacity: 1; visibility: visible;}
    35%  {opacity: 1; visibility: visible;}
    100% {opacity: 0; visibility: hidden;}
}
