/* >>> Importando arquivos de fonte. */
@font-face {
    font-family: PoppinsBold;
    src: url("./fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: PoppinsRegular;
    src: url("./fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: Inter;
    src: url("./fonts/Inter-Regular.ttf");
}

/* >>> Definindo variáveis de cores e tamanhos */
:root {
    --cor-Preto: #1C1C1C;
    --cor-Branco: #FCFBFB;
    --cor-BrancoClaro: #F1F1F1;
    --cor-BrancoCinzento: #CACACA;
    --cor-CinzaClaro: #4C4B4E;
    --cor-CinzaMapa: #262626;
    --cor-AzulEscuro: #173C85;
    --cor-AzulClaro: #E5F2FF;
    --cor-Amarelo: #FDF508;
    --tamanho-BarraLateral: 120px;
}

/* >>> Estilos gerais do corpo da página */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-CinzaMapa);
    font-family: PoppinsBold;
    color: var(--cor-AzulEscuro);
    overflow-x: hidden;
}

#content {
    margin-left: var(--tamanho-BarraLateral);
}

/* >>> Estilos gerais dos elementos da página */
.click:hover {
    background-color: var(--cor-AzulClaro);
    text-decoration: none;
    cursor: pointer;
}

.modebar {
    display: none !important;
}

/* >>> Scrollbar customizada */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #0000004d;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px #00000042;
}

/* >>> Barra lateral e ícones */
#sidebar {
    background-color: var(--cor-Branco);
    height: 100%;
    width: var(--tamanho-BarraLateral);
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    left: 0;
    top: 0;
    overflow-y: hidden;
    z-index: 1;
}

#sidebar a {
    border: 3px solid var(--cor-AzulEscuro);
    border-radius: 15px;
    display: block;
    margin: 15px;
    padding: 10px;
    max-height: 35px;
}

#sidebar a:hover {
    transform: scale(1.2, 1.2);
}

/* >>> Grades (linhas e colunas) */
.row {
    display: inline-block;
    width: 100%;
    text-align: left;
}

.row.search-B {
    max-height: 36px;
}

.row.form-field {
    margin-top: 5px;
    text-align: right;
}

.row.form-buttons {
    text-align: center;
}

/* >>> Cartões de conteúdo */
.card {
    background-color: var(--cor-Branco);
    border-radius: 40px;
    padding: 20px;
    text-align: center;
}

.card p {
    font-family: Inter;
    font-size: 16px;
    color: var(--cor-CinzaClaro);
    padding: 5px;
}

.card.infos-A {
    position: absolute;
    width: calc(35% - var(--tamanho-BarraLateral));
    top: 2%;
    right: 2%;
    animation: showoff--infos-A 0.8s;
}

.card.infos-B {
    position: absolute;
    height: 45%;
    width: calc(58% - var(--tamanho-BarraLateral));
    right: 2%;
    top: 2%;
    animation: showoff--infos-B 0.8s;
}

.card.infos-B .buttons-layout {
    position: absolute;
    top: 25px;
    right: 25px;
    display: flex;
}

.card.search-A {
    position: absolute;
    width: calc(35% - var(--tamanho-BarraLateral));
    left: calc(2% + var(--tamanho-BarraLateral));
    top: 2%;
    animation: showoff--search-A 0.8s;
}

.card.search-B {
    position: absolute;
    height: 90%;
    width: calc(39% - var(--tamanho-BarraLateral));
    left: calc(2% + var(--tamanho-BarraLateral));
    top: 2%;
    animation: showoff--search-B 0.8s;
}

.card-list-item {
    background-color: var(--cor-Branco);
    border: 2px solid var(--cor-AzulEscuro);
    border-radius: 20px;
    display: flex;
    width: calc(100% -2px);
    margin-bottom: 10px;
    max-height: 100px;
}

.card-list-item p {
    font-family: PoppinsBold;
    font-size: 16px;
    text-align: left;
    line-height: 12px;
    margin-left: 12px;
}

.card-list-item img {
    border-right: 1px solid #ccc;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    margin-right: 10px;
}

.card-list-item div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-list-item .no-img img {
    margin-right: 0;
}

.no-img {
    /* Modelo para quando não há imagem disponível */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-BrancoCinzento);
    border-right: 1px solid #ccc;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    margin-right: 10px;
    height: 100px;
    width: 100px;
}

.no-img.infos-B {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 325px;
    width: 260px;
    margin-right: 0;
}

/* Modal de cadastro do banco de dados */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.modal-body {
    position: relative;
    width: 27.5%;
    z-index: 3;
}

.modal-form {
    font-family: PoppinsRegular;
}

.modal-form label { 
    font-size: 14px;
    color: var(--cor-CinzaClaro);
    max-height: 14px;
}

.modal-form .input {
    height: 19.2px;
    margin-left: 15px;
    width: 55%;
}

.modal-form label > input {
    font-family: PoppinsRegular;
    color: var(--cor-Preto);
    padding: 3.5px;
}

.modal-form .span-dropdown {
    position: absolute;
    display: flex;
    margin-top: 7px;
    right: calc(57.4% + 12px);
}

.modal-form .dropdown {
    display: inline-block;
    max-height: 28.2px;
    width: 57.4%;
}

.modal-form .dropdown .Select-control {
    text-align: left;
    height: 28.2px;
}

.modal-form .row:first-child {
    margin-top: 15px;
}

.modal-form .row:last-child {
    margin-bottom: 15px;
}

.modal-backdrop {
    background-color: #0000006d;
    position: absolute;
    border: none;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    align-items: center;
    justify-content: center;
}

/* Estilo dos botões das páginas */
.button {
    background-color: var(--cor-BrancoClaro);
    border: 2px solid var(--cor-AzulEscuro);
    border-radius: 50px;
    box-shadow: 0px 2px 8px #00000063;
    font-family: PoppinsRegular;
    color: var(--cor-AzulEscuro);
}

.button.infos-A /* Pág. Entregas */ {
    height: 38px;
    width: 100%;
    font-size: 24px;
    margin-top: 15px;
}

.button-infos-B {
    box-shadow: 0px 2px 4px #00000063;
    background-color: var(--cor-BrancoClaro);
    border: 2px solid var(--cor-AzulEscuro);
    border-radius: 15px;
    padding: 8px;
    margin-right: 5px;
}

.button-infos-B img {
    display: block;
}

.button-search-B {
    box-shadow: 0px 2px 3px #00000063;
    background-color: var(--cor-BrancoClaro);
    border: 2px solid var(--cor-AzulEscuro);
    border-radius: 10px;
    width: 36px;
    height: 36px;
}

.button-search-B img {
    display: block;
}

.button.form-button {
    height: 42px;
    width: 30%;
    margin: 8px;
}

/* Datepicker */
.datepicker {
    position: absolute;
    margin-left: 15px;
    width: 57.4%;
}

.datepicker .DateInput, .DateInput_1 {
    box-sizing: border-box;
    border-radius: 4px !important;
    width: inherit;
}

.datepicker .DateInput_input, .DateInput_input_1 {
    background-color: #fff;
    border-radius: inherit;
    font-family: PoppinsRegular;
    font-size: 14px;
    height: 28.2px;
    width: inherit;
}

.datepicker .SingleDatePickerInput__withBorder {
    border-radius: 4px;
    border: 1px solid #ccc !important;
    width: auto;
}

/* Plotly | Dropdown */
.dropdown {
    color: var(--cor-CinzaClaro);
}

.dropdown.search-A /* Pág. Entregas */ {
    font-size: 10px;
}

.dropdown.search-A .Select-control /* Pág. Entregas */ {
    border-radius: 10px;
}

.dropdown.search-B {
    font-size: 14px;
    width: 20%;
    float: left;
}

/* Plotly | Input */
.input {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: var(--cor-CinzaClaro);
    overflow: hidden;
}

input {
    font-family: PoppinsBold;
    font-weight: normal;
    font-size: 14px;
    padding: 7px;
}

.input.search-B {
    width: calc(80% - 46px);
    margin-right: 5px;
    margin-left: 5px;
    height: 36px;
    position: relative;
    top: -11.5px;
}

/* Plotly | Checklist */
.checklist.search-A {
    padding-top: 10px;
    font-size: 12px;
}

.checklist input {
    margin-right: 5px;
}

/* Entregas | Mapa*/
#entregas--mapa {
    position: absolute;
    height: 100%;
    width: calc(100% - var(--tamanho-BarraLateral));
    overflow: hidden;
    z-index: -2;
}

#entregas--mapa-fadeout {
    background-color: var(--cor-CinzaMapa);
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
    animation: fadeout--map 0.8s linear;
}

/* Entregas | Posições */
#entregas--informacoes {
    line-height: 15px;
    margin-bottom: 20px;
}

#entregas--informacoes p {
    font-family: PoppinsBold;
    font-size: 14px;
    text-align: center;
    color: var(--cor-CinzaClaro);
}

#entregas--informacoes a {
    text-decoration: none;
    color: var(--cor-Preto);
    border-bottom: 2px solid var(--cor-Preto);
}

/* Entregas | Tabela */
#entregas--tabela {
    border-collapse: collapse;
    text-align: left;
    font-size: 14px;
    color: var(--cor-CinzaClaro);
}

#entregas--tabela tbody {
    display: block;
    max-height: 240px;
    overflow: auto;
}

#entregas--tabela td {
    padding: 15px;
}

#entregas--tabela .left {
    border-right: 1px solid var(--cor-CinzaClaro);
}

/* Entregas | Legenda */
#entregas--legenda {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: calc(2% + var(--tamanho-BarraLateral));
    bottom: 2%;
    font-size: 16px;
    color: var(--cor-Branco);
}

#entregas--legenda label {
    display: flex;
    align-items: center;
}

.circulo {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.circulo.ponto--partida {
    background-color: var(--cor-BrancoClaro);
}

.circulo.ponto--parada {
    background-color: var(--cor-Amarelo);
}

.linha {
    height: 3px;
    width: 16px;
    border: none;
    margin-right: 5px;
}

.linha.rota--recomendada {
    background-color: red;
}

.linha.rota--alternativas {
    background-color: var(--cor-AzulEscuro);
}

/* Veículos | Lista */
#veiculos--lista {
    margin-top: 10px;
    max-height: calc(80% - 10px);
    overflow: auto;
}

#veiculos--informacoes {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#veiculos--informacoes .imagem-informacoes {
    box-shadow: 0px 2px 8px #00000063;
    border-radius: 40px;
    position: relative;
    left: 15px;
    max-height: 95%;
}

#veiculos--informacoes .no-img {
    box-shadow: 0px 2px 8px #00000063;
    border-radius: 40px;
    min-width: 260px;
    max-height: 95%;
    position: relative;
    left: 15px;
}

#veiculos--informacoes .no-img img {
    box-shadow: none;
    left: 0;
}

#veiculos--informacoes .conteudo {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
    left: 15px;
    padding-left: 15px;
}

#veiculos--informacoes .informacoes-basicas p {
    font-family: PoppinsBold;
    font-size: 14px;
}

.status p,
.status a {
    font-family: PoppinsBold;
    font-size: 20px;
    margin-top: 8px;
    color: var(--cor-AzulEscuro);
}

.status a {
    text-decoration: none;
    border-bottom: 2px solid var(--cor-AzulEscuro);
}

/* >>> Animações */
@keyframes showoff--infos-A {
    from {right: calc(-35% - 2% - var(--tamanho-BarraLateral))}
    to   {right: 2%}
}

@keyframes showoff--infos-B {
    from {right: calc(-58% - 2% - var(--tamanho-BarraLateral))}
    to   {right: 2%}
}

@keyframes showoff--search-A {
    from {top: -30%;}
    to   {top: 2%;}
}

@keyframes showoff--search-B {
    from {top: -100%;}
    to   {top: 2%;}
}

@keyframes fadeout--map {
    0%   {opacity: 1; visibility: visible;}
    35%  {opacity: 1; visibility: visible;}
    100% {opacity: 0; visibility: hidden;}
}